.navDesktop {
  height: 110px;
  box-shadow: #0000001c 4px 10px 10px 0px;
  position: fixed;
  z-index: 3;
  right: 0px;
  /* top: 0px; */
  background-color: white;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;

  .logo {
    padding: 1rem;
  }

  ul {
    display: flex;
    position: absolute;
    z-index: 3;
    justify-content: flex-end;
    width: 100%;
    top: 2rem;
    right: 2rem;

    a {
      padding: 1rem;
      margin-right: 10px;
    }

    li {
      list-style: none;
      font-size: 1.2rem;
    }
  }
}
