.new-games {
  /////////////////////////
  // Layout cards
  /////////////////////////
  .grid-cards-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .header {
      display: flex;
      justify-content: space-between;
    }
  }

  .grid-cards-display div {
    background: white;
    padding: 15px;
  }
}
