.new-games {
  /////////////////////////
  // Layout cards
  /////////////////////////
  .grid-cards-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .header {
      display: flex;
      justify-content: space-between;
    }

    .image {
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .Card {
    display: flex;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .ImageCard {
    height: 100px;
    min-width: 100px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .GameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    .GameInfoTitle {
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .GameName {
    width: 100%;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .GameSupport {
    width: 100%;
  }

  .GameRating {
    width: 100%;
  }

  .ButtonAddLibrary {
    cursor: pointer;
  }

  /////////////////////////
  // Top five games
  /////////////////////////
  .container-top-five {
    margin-top: 3rem;
    background-color: var(--bg-secondary-color);
    min-height: 400px;
    color: white;
    padding-top: 3rem;
    .container-list-top-five {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1080px;
      display: flex;
      margin: auto;

      padding-bottom: 6rem;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
        width: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.2s ease-out;

        &:hover {
          // transform: scale(1.1);
          transition: 0.2s ease-in;
        }

        .container {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 360px;
          padding: 15px;
          background-color: rgba(0, 0, 0, 0.59);

          &:hover {
            background-color: rgba(0, 0, 0, 0);
          }
        }

        .header {
          display: flex;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          .title-card {
            background-color: black;
            padding: 10px;
            display: flex;
            align-items: center;
            align-content: center;
            h3 {
              max-width: 190px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          .group {
            display: flex;

            button {
              border: none;
            }
            .wishlist {
              padding: 10px;
              background-color: var(--primary-color);
              margin-right: 5px;
              display: flex;
              align-items: center;
              align-content: center;
              cursor: pointer;
            }
            .add {
              padding: 10px;
              background-color: var(--primary-color);
              display: flex;
              align-items: center;
              align-content: center;
              cursor: pointer;
            }
          }
        }
        .footer {
          display: flex;
          div {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.add-btn {
  max-width: 100%;
  position: relative;
  z-index: 1;
  background-color: blue;
  border: none;
  padding: 0.1em 1em;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 3px 3px 9px #aaa;
  cursor: pointer;
}
