.close-btn {
  max-width: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-main {
    position: fixed;
    background: #2929d0;
    width: 30%;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
}

.modal-div {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 20px;
  justify-content: center;
}

.modal-div p {
  margin: 5% auto;
  width: 80%;
  text-align: center;
}

.modal-button {
  width: 25%;
  margin: 0 auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
