#header {
  .headerContainer {
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    background-position: center;
    height: 685px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    .filter {
      background-color: rgba($color: #000000, $alpha: 0.5);
      backdrop-filter: blur(5px);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-bottom: 25px;
      }
      h1 {
        font-size: 32px;
        font-family: 'Roboto', sans-serif;
        color: white;
      }
      .infoHeaderContainer {
        margin-top: 25px;
        width: 310px;
        display: flex;
        .crossContainer {
          border: solid 2px white;
          margin-right: 25px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          .crossLine {
            background-color: white;
            width: 40px;
            height: 5px;
            transition: all 0.2s ease-in;
          }

          .crossLine:nth-last-child(1) {
            transform: rotate(45deg);
            position: absolute;
          }
          .crossLine:nth-last-child(2) {
            transform: rotate(-45deg);
            position: absolute;
          }
        }
        .crossContainer:hover .crossLine {
          background-color: var(--alert-color);
        }
        p {
          color: white;
          align-self: center;
          font-size: 40px;
          margin-right: 25px;
          user-select: none;
        }
        label {
          align-self: center;
          outline: none;
          select {
            color: white;
            background-color: #000000;
            font-size: 16px;
            padding: 5px;
            font-family: 'Roboto', sans-serif;
            width: fit-content;
            cursor: pointer;
          }
        }
      }
    }
  }
  .HeaderSugg {
    background-image: url('https://static.lpnt.fr/images/2018/04/18/14525391lpw-14526018-article-jpg_5174276_980x426.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 685px;
    align-items: center;
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0px 0px, 100% 0px, 99.74% 100%, 2px 80.76%);
    img {
      margin-bottom: 25px;
    }
    h1 {
      font-size: 32px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
    h2 {
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
    .infoHeaderContainerSugg {
      width: 300px;
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .crossContainerSugg {
        font-size: 16px;
        color: white;
        border: solid 3px white;
        margin: 10px;
        width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        padding: 10px;
        .crossLineSugg {
          background-color: white;
          width: 40px;
          height: 5px;
          position: relative;
        }
        .crossLineSugg:nth-last-child(1) {
          transform: rotate(45deg);
          position: absolute;
        }
      }
    }
  }
}
