.headerContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  height: 500px;
  align-items: center;
  flex-direction: column;

  .filter {
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);

    h1 {
      font-size: 32px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
    .gameSugg {
      margin-top: 257px;
    }
    .gameSugg div {
      text-align: right;
      height: 250px;
      width: 650px;
      background-size: cover;
      background-position: top;
      background-color: white;
      padding: 1rem;
    }

    .wrapper {
      display: flex;
      margin-top: 39px;
    }

    .infoHeaderContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      margin-top: -80px;
      margin-right: 15px;
      padding: 15px;
      color: white;

      &.blue {
        background-color: #0f47f5;
      }

      .ratingSuggestion {
        padding: 1rem 1rem 0.5rem 1rem;
        display: flex;
      }
      .crossContainer {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        .crossLine {
          background-color: white;
          width: 40px;
          height: 5px;
          transition: all 0.2s ease-in;
        }

        .crossLine:nth-last-child(1) {
          transform: rotate(45deg);
          position: absolute;
        }
        .crossLine:nth-last-child(2) {
          transform: rotate(-45deg);
          position: absolute;
        }
      }
      .crossContainer:hover .crossLine {
        background-color: var(--alert-color);
      }
      p {
        color: white;
        align-self: center;
        font-size: 40px;

        user-select: none;
      }
      label {
        align-self: center;
        outline: none;
        select {
          color: white;
          background-color: #00000000;
          font-size: 16px;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          width: fit-content;
          cursor: pointer;
          border: none;
          width: 80px;
        }
      }
    }
  }
}
.HeaderSugg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  height: 500px;
  align-items: center;
  flex-direction: column;

  .gameSugg {
    margin-top: 257px;

    .crossContainerSugg {
      background-color: var(--primary-color);
      border: none;
      padding: 10px;
      cursor: pointer;
      height: 42px;
      border-radius: 5px;
    }

    div {
      text-align: right;
      height: 250px;
      width: 650px;
      background-size: cover;
      background-position: top;
      background-color: white;
      padding: 1rem;
    }
  }

  .filter {
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
  }
  h1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  h2 {
    font-size: 16px;
    margin-top: 11px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
  }
  /*   .HeaderStars {
    display: flex;
    flex-direction: row;
    list-style: none;
  } */
  .infoHeaderContainerSugg {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f47f5;
    margin-top: -80px;
    padding: 0px 5px 15px 5px;
    border-radius: 5px;

    .ratingSuggestion {
      padding: 1rem 1rem 0.5rem 1rem;
      display: flex;
    }
  }
}
